.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

form {
  display:inline;
}

textarea[name="title"] {
  width: 550px;
  height: 30px;
  margin: 20px 50px 20px 0;

}
textarea[name="text"] {
  width: 550px;
  height: 400px;
  margin: 0px 50px 20px 0px;
}