<div>
  <form action="/submit/" method="post">
    <input type="hidden" name="_method" value="put"> 
    <textarea name="title" placeholder="insert title here"></textarea></br>
    <textarea name="text" placeholder="insert note here"></textarea>
    <input type="submit">
  </form>
  <form action="/" method="get">
    <input type="submit" value="forget it"> 
  </form>
</div>