<div>
  <% unless @note.nil? %>
    <p><b><%= @note.title %></b><br>
    <%= @note.text %><br></p>
    <form action="/note/<%= @id %>/" method="post">
    <input type="hidden" name="_method" value="delete"> 
    <input type="submit" value="Delete"> </form>
    <form action="/note/<%= @id %>/edit/" method="get">
    <input  type="submit" value="Edit">  </form>
  <% else %>
    <p>Sorry, that note doesn't exist</p>
  <% end %>
</div>